dist: xenial

language: python

cache: pip

branches:
  only:
    - master

# existing Python versions
python:
  - 3.6
  - 3.7

env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1

# command to install dependencies
install:
  - make setup_test

# command to run tests, run all tests only in nightly build
script:
  - if [[ "$TRAVIS_EVENT_TYPE" = "cron" ]]; then make test_nightly; else test_lite; fi
